<div class="pipeline">
  <div class="pipe-step">
    <div class="pipe-node" id="pn-upload"><span class="pipe-dot" id="pd-upload"></span> Archivo TXT</div>
  </div>
  <div class="pipe-arrow" id="pa-1"></div>
  <div class="pipe-step">
    <div class="pipe-node" id="pn-lexico"><span class="pipe-dot" id="pd-lexico"></span> Léxico</div>
  </div>
  <div class="pipe-arrow" id="pa-2"></div>
  <div class="pipe-step">
    <div class="pipe-node" id="pn-sint"><span class="pipe-dot" id="pd-sint"></span> Sintáctico</div>
  </div>
  <div class="pipe-arrow" id="pa-3"></div>
  <div class="pipe-step">
    <div class="pipe-node" id="pn-sem"><span class="pipe-dot" id="pd-sem"></span> Semántico</div>
  </div>
  <div class="pipe-arrow" id="pa-4"></div>
  <div class="pipe-step">
    <div class="pipe-node" id="pn-sql"><span class="pipe-dot" id="pd-sql"></span> SQL</div>
  </div>
</div>
